
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  </head>

  <body>
    <style>
      .border{
        border:1px solid;
      }
      .border-top{
        border-top:1px solid;
      }
      .border-bottom{
        border-bottom:1px solid;
      }
      .border-left{
        border-left:1px solid;
      }
      .border-right{
        border-right:1px solid;
      }
      div.each_item{
        border-radius:5px; background-color:#fdfeff; height:100px;
        border:2px outset;
      }
      div.pic{
        float:left;
        height:100%;
        border-radius:2px;
        width:100px;
        border:1px outset;
      }
      div.txt{
        padding:5px;
        float:left;
        height:100%;
        width:calc(100% - 100px);
      }
      div.jumbotron2{
        position:relative;
        width:100%;
        height:100%;
        background-color: #f1f1f1;
        border-radius: 10px; 
        margin:0 auto; 
        padding:20px;
        border:2px outset;
        max-width:860px;
        overflow:scroll;
      }
      div.wrap{
        position:absolute;
        left:0px;
        width:100%;
        height:calc(100% - 42px);
      }
      p.name{
        text-align:left;
        font-size:1.0em;
      }
      p.description{
        text-align:left;
        font-size:0.8em;
      }
      div.button{
        position:relative;
        height:calc(100% - 2em);
        overflow:hidden;
      }
      div.content{
        width:100%;
        height:2em;
      }
      img.pic{
        width:100%;
        height:100%;
        border-radius:8px;
      }
      div.right_btn{
        float:right;
        position:relative;
        width:38px;
      }
      div.name{
        float:left;
        position:relative;
        width:calc(100% - 38px);
        overflow:hidden;
      }
    </style>
    <div class="wrap">
    <div class="jumbotron2" >
      <div style="position:relative;float:right; margin:-20px 0 0 0;">
        <select  name="go" size=1 onChange="window.open(value,'_self');"> 
         <option value="default">분류를 선택하세요</option> 
         <option value="/home/list/1" >카페&베이커리</option> 
         <option value="/home/list/2" >음식점</option> 
         <option value="/home/list/3" >엔터테인먼트</option> 
         <option value="/home/list/4" >기타</option> 
        </select>
      </div>


      <%@post.each do |p|%>

        <div class="each_item">
          <div class="pic">
            
            <a href="/home/detail/<%=p.id%>"><img class="pic" src="<%=p.img_url%>"></a>
          </div>
          <div class="txt">
            <div class="content">
              <div class = "name">
                <p class="name"><%=p.name%></p>
              </div>
              <div class = "right_btn" >
                <a class="btn btn-mini active " style="padding:3px; align:right;font-size: 0.8em;" href="/home/detail/<%=p.id%>" role="button">더보기</a>
              </div>
            </div>
            <div style="clear:both;"> </div>
            <div class="button">
              <p class="description"> <%=p.feature%> </p>
            </div>
          </div>
        </div>

      <%end%>

    </div>
  </div>
